.main-footer {
    
    background-color: #7c7c7c33;

    ul {
        list-style: none;  
        
    }

    a {
        text-decoration: none;
        color: currentColor;
        font-weight: bold;
    }


}
